@model GrowUp.Model.Category

<div class="main-content">

    <div class="page-content">

        <!-- start page title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h4>Form Elements</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Grow Up</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>

                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-end d-none d-sm-block">
                            <a href="" class="btn btn-success">Categories</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <form asp-action="Edit" method="post">

            <div class="container-fluid">

                <div class="page-content-wrapper">



                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="header-title">Update Category</h4>

                                    <div class="row mb-3">
                                        <label asp-for="CategoryName" class="col-sm-2 col-form-label">Category Name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Type the category name"  asp-for="CategoryName">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->
                    <button class="btn btn-success waves-effect waves-light" type="submit" style="width:150px"> Update </button>
                    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150x">
                        Back To the List
                    </a>



                </div>


            </div> <!-- container-fluid -->
        </form>
    </div>
    <!-- End Page-content -->
