@model IEnumerable<GrowUp.Model.Reactube>
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Crovex</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">UI Kit</a></li>
                                <li class="breadcrumb-item active">Datatable</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Datatable</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>



            <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

               
          
              
                <table id="row_callback" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Content Name</th>
                                 
                            <th>Link</th>
                        </tr>
                    </thead>
                            @foreach (var obj in Model)
                            {
                    <tbody>
                        <tr>

                            <td>@obj.Content.Content_name</td>

                            <td><a class="btn btn-primary mb-3" type="button" href="https://www.youtube.com/watch?v=@obj.ItemVideo" target="_blank">View Video</a></td>
                       
                        </tr>
                   
                    </tbody>
                            }
                </table>
                     
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

        </div><!--end page-title-box-->
    </div><!--end col-->
