@model IEnumerable<GrowUp.Model.Contentube>
<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Crovex</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Helpdesk</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Helpdesk</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
    
            <div class="col-lg-12">
                <div class="row">

                     @foreach(var obj in Model )
                     {
                        <div class="row justify-content-center p-4">
                      
                            <div class="card mr-2" style="width: 15rem;">
                                <div class="card-body">
                                            <div class="icon-info">
                                                <i class="fas fa-ticket-alt bg-soft-warning"></i>
                                            </div>
                                            <h6 class="text-dark">@obj.Content_name</h6>

                                    <span class="badge badge-primary">@obj.Category.CategoryName</span>

                                    <span class="badge badge-primary">@obj.Service.ServiceName</span>
                                    
                                </div>
                                        <!--end card-body-->
                                <a class="btn btn-secondary" asp-action="Playlistube" asp-controller="Content" asp-route-ContentId="@obj.Id">Details</a>
                               
                            </div>
                                <!--end card-->
             
                        </div>

                    }

            


                        </div>


                <!--end row-->

            </div><!--end col-->
         







    </div><!-- container -->

    <footer class="footer text-center text-sm-left">
        &copy; 2020 Crovex <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
    </footer><!--end footer-->
</div>
<!-- end page content -->