@{
    Layout = "~/Areas/UserDashboard/Views/Shared/_Layout.cshtml";
}



<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Profile</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                   
                    <div class="card-body">
                        <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                            </li>

                         
                            <li class="nav-item">

                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Email">Change Email</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link active" id="portfolio_detail_tab" data-toggle="pill" href="#portfolio_detail">Change Password</a>
                            </li>

                        </ul>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-12">
                <div class="tab-content detail-list" id="pills-tabContent">




                    <div class="tab-pane fade show active" id="portfolio_detail">
                        <div class="row">
                            <div class="col-lg-12 col-xl-9 mx-auto">
                                <div class="card">
                                    <div class="card-body">


                                        <div class="">
                                         @RenderBody()
                                        </div>
                                    </div>
                                </div>
                            </div> <!--end col-->
                        </div><!--end row-->
                    </div><!--end portfolio detail-->

                </div><!--end col-->
            </div><!--end row-->

        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; 2023 - Growpal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer><!--end footer-->
    </div>
</div>
<!-- end page content -->
<!-- end page-wrapper -->


    @section Scripts{

    @await RenderSectionAsync("Scripts", required: false)

    }