@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Areas/Identity/Pages/_EditProfilLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

        <form class="form-horizontal form-material mb-0" method="post">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  
            <div class="form-group row">

                    <div class="col-md-6">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" placeholder="Full Name" class="form-control"/>             
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <input asp-for="Input.PhoneNumber" placeholder="Phone No" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        <br />
                     
                    </div>
                    <button id="update-profile-button" type="submit" class="btn btn-primary  float-right mb-0">Update Profile</button>
            </div>
        </form>

            
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
