<!doctype html>
<html lang="en">

<head>

    
    <meta charset="utf-8" />
    <title>Growpal Dashboard | Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.ico">

    <!-- plugin css -->
    <link href="~/admin/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/site/dashboard/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/site/dashboard/assets/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/site/dashboard/assets/css/fontawesome.min.css rel="stylesheet" type="text/css" />
    <!-- twitter-bootstrap-wizard css -->
    <link rel="stylesheet" href="~/admin/assets/libs/twitter-bootstrap-wizard/prettify.css">

    <!-- select2 css -->
    <link href="~/admin/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="~/admin/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="~/admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>


<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">

                       <!-- LOGO -->
                 <div class="navbar-brand-box">
                        <a asp-controller="Admin" asp-action="Index" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="~/admin/assets/images/GP.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                                <img src="~/admin/assets/images/Growpal.png" alt="" >
                        </span>
                    </a>

                 
                </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                        <i class="mdi mdi-menu"></i>
                    </button>


                 
            
                </div>

       

                <div class="d-flex">
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          
                            <span class="d-none d-xl-inline-block ms-1">Welcome, @User.Identity.Name!</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Profile"><i class="mdi mdi-account-circle-outline font-size-16 align-middle me-1"></i> Profile</a>
                            <a class="dropdown-item" disable><i class="mdi mdi-wallet-outline font-size-16 align-middle me-1"></i> My Wallet</a>
                            <div class="dropdown-divider"></div>
                              <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                          
                                <button id="logout" class="dropdown-item text-danger"><i class="mdi mdi-power font-size-16 align-middle me-1 text-danger"></i>Logout</button>
                            </form>
                        </div>
                    </div>

               
            
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">


                <div class="user-sidebar text-center">
                    <div class="dropdown">
                        <div class="user-img">
                            <img src="~/admin/assets/images/admin.jpg" alt="" class="rounded-circle">
                            <span class="avatar-online bg-success"></span>
                        </div>
                        <div class="user-info">
                            <h5 class="mt-3 font-size-16 text-white">@User.Identity.Name</h5>
                           
                        </div>
                    </div>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>


                        <li>
                            <a  class="has-arrow waves-effect">
                                <i class="dripicons-view-list"></i>
                                <span>Categories</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">All Categories</a></li>
                                <li><a asp-area="Admin" asp-controller="Category" asp-action="Create">Create Category</a></li>
                 
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow waves-effect">
                              
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                                <span>Pricing Plan</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-area="Admin" asp-controller="PricingPlan" asp-action="Index">All Recordes </a></li>
                                <li><a asp-area="Admin" asp-controller="PricingPlan" asp-action="Create">Create Pricing Plan</a></li>

                            </ul>
                        </li>

                        <li>
                            <a  class="has-arrow waves-effect">
                                <i class="dripicons-scale"></i>
                                <span>Services</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-area="Admin" asp-controller="Service" asp-action="Index">All Services</a></li>
                                <li><a asp-area="Admin" asp-controller="Service" asp-action="Create">Create Service</a></li>

                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow waves-effect">
                                <i class="fa-brands fa-youtube"></i>
                                <span>Youtube Record</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-area="Admin" asp-controller="Contentube" asp-action="Index">Contentube List</a></li>
                                <li><a asp-area="Admin" asp-controller="Reactube" asp-action="Index">Reactube List</a></li>
                                <li><a asp-area="Admin" asp-controller="Watchtube" asp-action="Index">Watchtube List</a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="has-arrow waves-effect">
                                
                                <i class="fa-solid fa-users"></i>
                                <span>Users</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li> <a sp-area="Admin" asp-controller="ApplicationUser" asp-action="Index">All Users</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Register">Add New User</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow waves-effect">

                                <i class="fa-solid fa-folder-closed"></i>
                                <span>Content Report</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li> <a sp-area="Admin" asp-controller="Contentube" asp-action="ContentRepo">Contents Reports</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <partial name="_Notification" />
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        @RenderBody();
        <!-- end main content-->


        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Growpal
                    </div>

                </div>
            </div>
        </footer>

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">
            
                <h5 class="m-0 me-2">Settings</h5>

                <a  class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/admin/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/admin/assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts -->
    <script src="~/admin/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Plugins js-->
    <script src="~/admin/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/admin/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

    <script src="~/admin/assets/js/pages/dashboard.init.js"></script>


    <script src="~/admin/assets/js/app.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>



    <!-- twitter-bootstrap-wizard js -->
    <script src="~/admin/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <script src="~/admin/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

    <!-- select 2 plugin -->
    <script src="~/admin/assets/libs/select2/js/select2.min.js"></script>

    <!-- dropzone plugin -->
    <script src="~/admin/assets/libs/dropzone/min/dropzone.min.js"></script>
    <!-- init js -->
    <script src="~/admin/assets/js/pages/ecommerce-add-product.init.js"></script>

</body>

</html>