@model IEnumerable<GrowUp.Model.Contentube>

<div class="main-content">

    <div class="page-content">

        <!-- start page title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h4>Dashoboard</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a>Growpal</a></li>
                                <li class="breadcrumb-item"><a>Youtube</a></li>
                                <li class="breadcrumb-item active">Content Report</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="container-fluid">

            <div class="page-content-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">


                                <div class="table-responsive mt-3">
                                    <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead class="thead-light">
                                            <tr>
                                                <th style="width: 20px;">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customercheck">
                                                        <label class="form-check-label" for="customercheck">&nbsp;</label>
                                                    </div>
                                                </th>
                                                <th>Content Name</th>
                                                <th>Description</th>
                                                <th>Content URL</th>
                                                <th>Status Content</th>

                                                <th style="width: 120px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var obj in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="customercheck1">
                                                            <label class="form-check-label" for="customercheck1">&nbsp;</label>
                                                        </div>
                                                    </td>

                                                    <td>@obj.Content_name</td>
                                                    <td>@obj.Description</td>
                                                    <td>@obj.Content_Url</td>

                                                    @if (obj.StatusContent)
                                                    {
                                                        <td>
                                                            <span class="badge badge-pill badge-soft-success font-size-13">Proved</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span class="badge badge-pill badge-soft-danger font-size-13">Unproved</span>
                                                        </td>
                                                    }

                                                    <td>
                                                        <form asp-area="Admin" asp-controller="Contentube" asp-action="ChangeContentStatus" asp-route-id="@obj.Id" method="post">
                                                            <button type="submit" class="btn btn-outline-danger waves-effect waves-light" style="width:150px">Change Status</button>
                                                        </form>
                                                    </td>

                                                 
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div>


        </div> <!-- container-fluid -->
    </div>

</div>

