@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrowUpSite</title>

    <link rel="stylesheet" href="~/site/assets/css/bootstrap.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/site/assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/site/assets/css/boxicons.min.css">
    <!-- Flaticons CSC -->
    <link rel="stylesheet" href="~/site/assets/fonts/flaticon.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="~/site/assets/css/magnific-popup.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/site/assets/css/odometer.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/site/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/site/assets/css/owl.theme.default.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/site/assets/css/animate.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/site/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/site/assets/css/responsive.css">
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="~/site/assets/css/theme-dark.css">

    <title>Growpal </title>

    <link rel="icon" type="image/png" href="~/site/assets/img/favicon.png">
</head>
<body>
    <!-- Preloader -->
    <div class="loader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Navbar Area -->
    <div class="navbar-area fixed-top">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="sass.html" class="logo">
                <img src="~/site/assets/img/logo-two.png" alt="Logo">
            </a>
        </div>

        <!-- Menu For Desktop Device -->
        <div class="main-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="index">
                        <img src="~/site/assets/img/Gp.png" class="logo-one" alt="Logo">
              
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a asp-area ="Customer" asp-controller="Home" asp-action="Index" class="nav-link dropdown-toggle active">Home</a>
                            </li>
                        
                      
                            <li class="nav-item">
                                <a href="#service" class="nav-link dropdown-toggle">Services</a>
                            </li>

                            <li class="nav-item">
                                <a href="#about" class="nav-link">About</a>
                            </li>

                   
                            <li class="nav-item">
                                <a href="#contact" class="nav-link">Contact</a>
                            </li>

                            <li class="nav-item">
                                <a href="#Pricing" class="nav-link">Our Pricing</a>
                            </li>

                        </ul>
                        <div class="side-nav">
                            <partial name="_LoginPartial"/>
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->



    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <!-- Footer -->
    <footer class="pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <a href="sass.html">
                                <img src="~/site/assets/img/gpAR.png" alt="Logo">
                            </a>
                            <p>Social Media Management Suite is a great title that effectively communicates the purpose of your platform. It suggests that your platform is a comprehensive tool for managing social media, which can be appealing to individuals and businesses looking for an all-in-one solution to manage their online presence.</p>
                        </div>
                    </div>
                </div>
      
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-links">
                            <h3>Compnay</h3>
                            <ul>
                                <li>
                                    <a href="#about" >About Us</a>
                                </li>
                                <li>
                                    <a href="#service" >Services</a>
                                </li>
                                <li>
                                    <a href="#contact" >Contact</a>
                                </li>
                                <li>
                                    <a href="#Pricing" >Our Pricing</a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                 
                         






                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-address">
                            <h3>Address</h3>
                            <ul>
                                <li>
                                    <span>Address:</span>
                                    2659 Autostrad St, London, UK
                                </li>
                                <li>
                                    <span>Message:</span>
                                    <a href="Contact@GrowUp.com">contact@Growpal.com</a>
                                </li>
                                <li>
                                    <span>Phone:</span>
                                    <a href="tel:2151234567">215 - 123 - 4567</a>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Copyright -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>Copyright <script>document.write(new Date().getFullYear())</script> Growpal.</p>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    <!-- End Copyright -->
    <!-- Go Top -->
    <div class="go-top">
        <i class='bx bx-up-arrow'></i>
        <i class='bx bx-up-arrow'></i>
    </div>
    <!-- End Go Top -->

    <!-- Essential JS -->
    <script src="~/site/assets/js/jquery.min.js"></script>
    <script src="~/site/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/site/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/site/assets/js/contact-form-script.js"></script>
    <!-- Ajax Chip JS -->
    <script src="~/site/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/site/assets/js/jquery.meanmenu.js"></script>
    <!-- Popup JS -->
    <script src="~/site/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script src="~/site/assets/js/odometer.min.js"></script>
    <script src="~/site/assets/js/jquery.appear.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/site/assets/js/owl.carousel.min.js"></script>
    <!-- Thumb Slider JS -->
    <script src="~/site/assets/js/thumb-slide.js"></script>
    <!-- Wow JS -->
    <script src="~/site/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/site/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
