@using GrowUp.Utility;
@using GrowUp.Model;
@using GrowUp.DataAccess.Repository.IRepository;
@using Microsoft.AspNetCore.Identity;
@inject IUnitOfWork _unitofwork
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


 
<div class="side-nav">

        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole(StaticDetail.Role_Admin))
            {
                <li class="scroll-to-section">
                    <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="cmn-btn">
                        Go To Dashboard
                        <i class='bx bx-plus'></i>
                    </a>

                </li>
            }


            else
            {

            string currentUserId = UserManager.GetUserId(User);
            var orderHeader = _unitofwork.OrderHeader.GetFirstOrDefault(o => o.ApplicationUserId == currentUserId);

            @if (orderHeader != null && orderHeader.PaymentItentId != null)
            {
                <li class="scroll-to-section">
                    <a asp-area="UserDashboard" asp-controller="User" asp-action="Index" class="cmn-btn">
                        Dashboard
                        <i class='bx bx-plus'></i>
                    </a>
                </li>
            }else
            {
         
                <li class="scroll-to-section">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Payment" class="cmn-btn">
                        Paid
                        <i class='bx bx-plus'></i>
                    </a>
                    <form id="logoutForm" class="cmn-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout <i class='bx bx-plus'></i></button>
                    </form>
                </li>

             
            }
        }

        
    
        }

else
{
            <a class="left-btn" id="login" asp-area="Identity" asp-page="/Account/Login">
       

                <i class='bx bx-log-out' ></i>
                Login
            </a>
            <a class="cmn-btn" id="register" asp-area="Identity" asp-page="/Account/Register">
                Register
                <i class='bx bx-plus'></i>
            </a>

       
}
</div>
