
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row vh-100 ">
        <div class="col-12 align-self-center">
            <div class="auth-page">
                <div class="card auth-card shadow-lg">
                    <div class="card-body">
                        <div class="px-3">
                            <img src="~/site/assets/img/404.jpg" alt="" class="d-block mx-auto mt-4" height="250">
                            <div class="text-center auth-logo-text mb-4">
                                <h4 class="mt-0 mb-3 mt-5">@ViewData["Error"]</h4>
                                <a class="btn btn-sm btn-gradient-primary" asp-area="Customer" asp-controller="Home" asp-action="index">>Back to Dashboard</a>
                            </div> <!--end auth-logo-text-->
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end auth-page-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->

