@model IEnumerable<PayMonthlyPlan>

@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->
<div class="banner-area">
    <div class="banner-shape">
        <img class="animate__animated animate__fadeInUp" src="~/site/assets/img/sass/banner-home.png" alt="Banner">
        <img src="~/site/assets/img/sass/banner-shape1.png" alt="Banner">
        <img src="~/site/assets/img/sass/banner-shape2.png" alt="Banner">
        <img src="~/site/assets/img/sass/banner-shape3.png" alt="Banner">
        <img src="~/site/assets/img/sass/banner-shape2.png" alt="Banner">
        <img src="~/site/assets/img/sass/banner-shape3.png" alt="Banner">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="banner-content">

                    <h1>Social Media Management Suite</h1>
                    <p>Social Media Management Suite is a great title that effectively communicates the purpose of your platform.
                        It suggests that your platform is a comprehensive tool for managing social media, which can be appealing to individuals and businesses looking for an all-in-one solution to manage their online presence.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Service -->
<section id="service" class="service-area pb-70">
    <div class="service-shape">
        <img src="~/site/assets/img/sass/service-shape2.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Offering Services</span>
            <h2>Our Features</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="service-item">
                    <i class="flaticon-cloud-storage"></i>
                    <h3>
                        <a href="service-details.html">Content Submission</a>
                    </h3>
                    <p>Allow users to submit their social media content directly through your platform. You could provide a simple form or upload tool that lets users easily upload their videos and other content.</p>
                    <img class="img-one" src="~/site/assets/img/sass/service-shape.png" alt="Shape">
                    <img class="img-two" src="~/site/assets/img/sass/service-shape1.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item">
                    <i class="flaticon-clock"></i>
                    <h3>
                        <a href="service-details.html">Video Publishing</a>
                    </h3>
                    <p>Once a user has submitted their content, allow them to choose which video they want to publish on their social media accounts. You could provide a simple dashboard that lets users select the video they want to publish and customize the accompanying caption and hashtags.</p>
                    <img class="img-one" src="~/site/assets/img/sass/service-shape.png" alt="Shape">
                    <img class="img-two" src="~/site/assets/img/sass/service-shape1.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item">
                    <i class="flaticon-save-time"></i>
                    <h3>
                        <a href="service-details.html">Video Matching</a>
                    </h3>
                    <p>Use machine learning algorithms to match a user's video with other videos in the same category or with similar content. This could help users increase their visibility and reach by connecting them with other users who are interested in the same topics.</p>
                    <img class="img-one" src="~/site/assets/img/sass/service-shape.png" alt="Shape">
                    <img class="img-two" src="~/site/assets/img/sass/service-shape1.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item">
                    <i class="flaticon-administration"></i>
                    <h3>
                        <a href="service-details.html">Easily Manage</a>
                    </h3>
                    <p>Our Social Media Management Suite is designed with a simple and easy to manage with a simple and intuitive interface. With customizable options and collaborative features, our platform is efficient, responsive, and easy to use.</p>
                    <img class="img-one" src="~/site/assets/img/sass/service-shape.png" alt="Shape">
                    <img class="img-two" src="~/site/assets/img/sass/service-shape1.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item">
                    <i class="flaticon-unlocked"></i>
                    <h3>
                        <a href="service-details.html">Watch-for-Watch Service</a>
                    </h3>
                    <p> Create a watch-for-watch service that incentivizes users to watch each other's videos. This could involve a system where users earn credits or rewards for watching other users' videos, which they can then use to promote their own videos to other users.</p>
                    <img class="img-one" src="~/site/assets/img/sass/service-shape.png" alt="Shape">
                    <img class="img-two" src="~/site/assets/img/sass/service-shape1.png" alt="Shape">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-item">
                    <i class="flaticon-scroll"></i>
                    <h3>
                        <a href="service-details.html">Analytics and Insights</a>
                    </h3>
                    <p> Provide detailed analytics and insights to users about their video performance and engagement. This could include metrics such as views, likes, comments, and shares, as well as demographic and geographic data about their audience.</p>
                    <img class="img-one" src="~/site/assets/img/sass/service-shape.png" alt="Shape">
                    <img class="img-two" src="~/site/assets/img/sass/service-shape1.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<!-- About -->
<section id="about" class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">About Us</span>
                        <h2>Our Platform Is The Best To Serve</h2>
                    </div>
                    <ul>
                        <li>
                            <i class="flaticon-checkmark"></i>
                            <h4>Our Story</h4>
                            <p>This title focuses on the history and background of your company and provides an opportunity to share your mission and values with potential users.</p>
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i>
                            <h4>Meet Our Team</h4>
                            <p>This title highlights the people behind your platform and allows users to get to know your team and their expertise in social media management.</p>
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i>
                            <h4>Why Choose Us</h4>
                            <p>This title emphasizes the unique value proposition of your platform and provides a space to showcase your key features and benefits compared to other social media management tools.</p>
                        </li>
                    </ul>
                </div>
            </div>
       
        </div>
    </div>
</section>
<!-- End About -->
<!-- Inquiry -->
<section class="inquiry-area">
    <div class="inquiry-shape">
        <img src="~/site/assets/img/sass/inquiry1.png" alt="Shape">
        <img src="~/site/assets/img/sass/inquiry2.png" alt="Shape">
        <img src="~/site/assets/img/sass/inquiry3.png" alt="Shape">
        <img src="~/site/assets/img/sass/inquiry4.png" alt="Shape">
        <img src="~/site/assets/img/sass/inquiry5.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="inquiry-img">
                    <img src="~/site/assets/img/sass/inquiry-main.png" alt="Inquiry">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="inquiry-content">
                    <div class="section-title">
                        <span class="sub-title">Project Inquiry</span>
                        <h2>Have Any Questions Regarding The Project About?</h2>
                    </div>
                    <a asp-area="Identity" asp-page="/Account/Login" class="cmn-btn">
                        Start Project
                        <i class='bx bx-plus'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inquiry -->

<!-- Counter -->
<section class="counter-area pt-100 pb-70">
    <div class="counter-shape">
        <img src="~/site/assets/img/sass/counter-bg.png" alt="Shape">
    </div>
    <div class="container">
        <h2>The Secrets to Life Success People <span>Have Got</span></h2>
        <div class="row">
       
            <div class="col-6 col-sm-4 col-lg-4">
                <div class="counter-item">
                    <h3>
                        <span class="odometer" data-count="850">0</span>
                        <span class="target">+</span>
                    </h3>
                    <p>Appreciation</p>
                    <img src="~/site/assets/img/sass/counter1.png" alt="Shape">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-4">
                <div class="counter-item">
                    <h3>
                        <span class="odometer" data-count="100K">00</span>
                        <span class="target">K</span>
                    </h3>
                    <p>Satisfied Client</p>
                    <img src="~/site/assets/img/sass/counter1.png" alt="Shape">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-4">
                <div class="counter-item">
                    <h3>
                        <span class="odometer" data-count="140">0</span>
                        <span class="target">K</span>
                    </h3>
                    <p>Response Time</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter -->

<!-- Pricing -->
<section id="Pricing" class="pricing-area pb-70">
    <div class="pricing-shape">
        <img src="~/site/assets/img/sass/pricing-shape.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
          
            <h2>Affordable Pricing</h2>
        </div>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                    <i class='bx bx-plus'></i>
                    Monthly Plan
                </a>
            </li>
     
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">

                    @foreach (var obj in Model)
                    {
                  
                    <div class="col-sm-6 col-lg-4 p-0">
                        <div class="pricing-item">
                            <div class="middle">
                                <h3>@obj.PriceMonthly.ToString("c")/<span class="right">Month</span></h3>
                            </div>
                            <div class="end">
                                <ul>
                                   
                                    <li>
                                        <i class="flaticon-curved-arrow-pointing-to-right"></i>
                                        @obj.Information
                                        <i class="flaticon-exclamation two"></i>
                                    </li>
                                        <li>
                                            <i class="flaticon-curved-arrow-pointing-to-right"></i>
                                            @obj.ContactMethode
                                            <i class="flaticon-exclamation two"></i>
                                        </li>

                                        <li>
                                            <i class="flaticon-curved-arrow-pointing-to-right"></i>
                                            @obj.Notes
                                            <i class="flaticon-exclamation two"></i>
                                        </li>

                                </ul>
                                <a href="#" class="cmn-btn">
                                    Get Started
                                    <i class='bx bx-plus'></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    }
                


             
                </div>
            </div>
          
        </div>
    </div>
</section>
<!-- End Pricing -->


