@model GrowUp.Model.Contentube

<<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="UserDashboard" asp-controller="User" asp-action="index">GrowPal</a></li>
                            <li class="breadcrumb-item active">Content Datatable</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Datatable</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->

      
        <!-- end page title -->
        <form asp-action="Delete" method="post">

            <div class="container-fluid">

                <div class="page-content-wrapper">


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="header-title">Content</h4>

                                    <div class="row mb-3">
                                        <label asp-for="Content_name" class="col-sm-2 col-form-label">Content name</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Type the Content name" disabled asp-for="Content_name">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label asp-for="Content_Url" class="col-sm-2 col-form-label">Content url</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" placeholder="Type the Content url" disabled asp-for="Content_Url">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->
                    <button class="btn btn-success waves-effect waves-light" type="submit" style="width:150px"> Delete </button>
                    <a asp-controller="Content" asp-action="Index" class="btn btn-secondary" style="width:150x">
                        Back To the List
                    </a>

                </div>


            </div> <!-- container-fluid -->
        </form>
    </div>
    <!-- End Page-content -->
</div>
