@model (IEnumerable<GrowUp.Model.Reactube> ReactubeList, int ItemCount)


@{
    ViewData["Title"] = "Playlistube";
}


<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Crovex</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Helpdesk</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Helpdesk</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->

        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="table-responsive">

                                <table id="video-table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Content Name</th>
                                            <th>Links</th>
                                        
                                        </tr>

                                    </thead>
                                  @foreach (var obj in Model.ReactubeList)
        
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@obj.Content.Content_name</td>

                         
                                                <td>
                                                    <a class="btn btn-primary" type="button" href="https://www.youtube.com/watch?v=@obj.ItemVideo" target="_blank" id="view-video-btn" onclick="handleClick(@obj.Id, '@obj.ItemVideo')">View Video</a>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    }
                                </table><!--end /table-->
                            </div><!--end /tableresponsive-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!-- end col -->



             

                

            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
</div>



<script>
    function handleClick(reactubeId, videoLink) {
        $.ajax({
            url: '@Url.Action("AddToWatchtube", "Content")',
            type: 'POST',
            data: { reactubeId: reactubeId, videoLink: videoLink },
            success: function (data) {
                // find the button element
                var button = document.getElementById('view-video-btn');

                // create a new element for the success message
                var successMessage = document.createElement('div');
                successMessage.className = 'alert icon-custom-alert alert-outline-success alert-success-shadow';
                successMessage.role = 'alert';
                successMessage.innerHTML = '<i class="mdi mdi-check-all alert-icon"></i><div class="alert-text"><strong>Well done!</strong></div>';

                // replace the button with the success message
                button.parentNode.replaceChild(successMessage, button);

                // show an alert message
                alert("Video added to Watchtube");
            },
            error: function () {
                alert("Error: Failed to add video to Watchtube");
            }
        });
    }
</script>
