@model int
    <div class="contact-area ptb-100">
            <div class="container">
                    <div class="section-title">
                        <h2>Payment Validation </h2>
                    </div>
                    <div class="container row pt-4">
                            <div class="col-12 text-center">
                                <h1 class="text-primary text-center">Order Placed Successfully!</h1>
                                Your Order Number is : @Model <br /><br />
                                <img src="~/site/img/paidSuccessfully.png" width="65%" />
                            </div>
                            <div class="col-12 text-center" style="color:maroon">
                                <br />
                                Your order has been placed successfully! <br />

                            </div>
                    </div>
            </div>
    </div> 